.career-left{
	width: 220px;
	float: left;
}

.career-right{
	width: 445px;
	float: right;
}

.career-photo{
	overflow: hidden;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
}

.career-photo_img{
	display: block;
	min-width: 220px;
	max-height: 220px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.career-list{
	text-align: right;
}

.career-item{
		padding-left: 70px;
}

.career-block{
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	width: 380px;
	box-sizing: border-box;
	padding: 20px;
	display: inline-block;
	text-align: left;
	position: relative;
	margin-bottom: 25px;
}

.career-block:after, .career-block:before{
	content: "";
	display: block;
	width: 1px;
	background: #ddd;
	position: absolute;
	right: 100%;
	margin-right: 20px;
}

.career-item:first-child .career-block:before, .career-item:last-child .career-block:after{
	display: none;
}

.career-block:before{
	top: 0;
	bottom: 50%;
}

.career-block:after{
	top: 50%;
	bottom: -25px;
}

.career-item:hover .career-block{
	background: #33c1e3;
}

.career-item:hover .career-title{
	color: #fff;
}

.career-item:hover .career-occupation, .career-item:hover .career-time{
	color: #fff;
}

.career-item:hover .career-year{
	font-weight: 600;
	color: #33c1e3;
}

.career-item:hover .career-year:after{
	border-color: #94c0f2;
}

.career-title{
	font-size: 21px;
	color: #5a5a5a;
	margin-bottom: 10px;
}

.career-occupation,
.career-time{
	font-weight: 300;
	color: #727272;
	margin-bottom: 10px;
}

.career-time{
	margin-bottom: 0;
}

.career-year{
	position: absolute;
	top: 50%;
	margin-top: -14px;
	right: 100%;
	margin-right: 35px;
	font-size: 14px;
	color: #727272;
	line-height: 28px;
	z-index: 10;
}
.career-year:after{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #33c1e3;
	position: absolute;
	right: -25px;
	top: 50%;
	margin-top: -10px;
	border: 5px solid #f6f6f6;
}