.portfolio-list{
	margin-left: -20px;
	font-size: 0;
}

.portfolio-list * {
	font-size: 14px;
}

.portfolio-item{
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	width: 220px;
	overflow: hidden;
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 20px;
	vertical-align: top;
}

.portfolio-link{
	display: block;
	text-decoration: none;
}

.portfolio-link:hover .portfolio-title{
	color: #e85f61;
}

.portfolio-pic{
	height: 180px;
	background-position:  center center;
	background-repeat: no-repeat;
	background-size: cover;
	// position: relative;
}

.portfolio-pic_image{
	position: absolute;
	top: 0;
	left: -9999px;
}

.portfolio-pic_elem{
	display: block;
	max-width: 100%;
}

.portfolio-desc{
	padding: 20px;
}

.portfolio-title{
	font-size: 21px;
	color: #33c1e3;
	margin-bottom: 5px;
}

.portfolio-desc_work{
	font-size: 14px;
	color: #414141;
	font-weight: 300;
	margin-bottom: 15px;
}

.portfolio-type_icon, .portfolio-type_title{
	display: inline-block;
	vertical-align: middle;
}

.portfolio-type{
	color: #aeaeae;
	font-size: 14px;
}

.portfolio-type_icon{
	font-size: 18px;
}

.portfolio-type_title{
	max-width: 160px;
	margin-left: 5px;
}


